# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/build/07bee5d3cf79e6e84c90b76402ede2be/
/build/55dc9146123702bac63a7112a80f1ba9/
/build/app/
/build/device_info_plus/
/build/flutter_assets/
/build/fluttertoast/
/build/permission_handler_android/
/build/qr_code_scanner/
/build/shared_preferences_android/
/build/webview_flutter_android/
/build/windows/
/build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
/build/last_build_run.json
/build/
